.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    
    .header-content {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;

        .menu {
            ul {
                display: flex;

                li {
                    position: relative;
                    padding-left: 30px;

                    a {
                        display: inline-block;
                        padding: 0 10px;
                        line-height: 25px;
                        border-radius: 15px;
                        height: 25px;
                        font-weight: 500;
                        color: $bColor;
                    }

                    &:first-child a {
                        padding: 0;
                        border-radius: 0;
                        border-bottom: 1px solid $secondary-color;
                    }

                    &.active a {
                        background-color: $secondary-color;
                        color: $primary-color;
                    }

                    ul {
                        display: block;
                        position: absolute;
                        margin-top: 20px;
                        top: 100%;
                        right: 0;
                        padding: 20px;
                        border-radius: 10px;
                        backdrop-filter: blur(15px) brightness(15%) opacity(.3);
                        opacity: 0;
                        visibility: hidden;
                        transition: all linear .3s;
    
                        li {
                            padding-left: 0;
                            text-align: right;
                            
                            a {
                                padding: 10px 0;
                                border: 0 !important;
                                white-space: nowrap;
                            }
    
                        }
    
                    }

                    &:hover {
                        ul {
                            margin-top: 0;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

            }
        }
    }
}