.help {
    background-image: linear-gradient(to top, $secondary-color calc(100% - 160px), transparent 160px);

    .text {
        margin-top: 120px;

        h2 {
            padding-top: 20px;
            padding-bottom: 30px;
            font-size: 40px;
            line-height: 50px;
            max-width: 250px;
            color: $primary-color;
        }
    }
}