.banner {
    position: relative;

    .massage {
        max-width: 190px;
        position: absolute;
        top: 100px;
        left: 52%;
        transform: translateX(-50%);
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        padding: 10px;
        border: 1px solid $secondary-color;
        color: $secondary-color;

        @media (max-width: 992px) {
            display: none;
        }

        p {
            margin: 0;
            padding: 0;
        }

        &::after {
            content: '';
            width: 15px;
            height: 15px;
            background-color: $secondary-color;
            position: absolute;
            top: 100%;
            left: 100%;
        }
    }

    .text {
        padding-top: 150px;

        h2 {
            font-size: 50px;
            line-height: 60px;
        }

        p {
            max-width: 420px;
            padding-top: 25px;
            font-size: 20px;
            line-height: 30px;

            span {
                border-bottom: 1px solid $secondary-color;
            }
        }

        .interest {
            display: flex;
            align-items: center;

            span {
                display: block;
                line-height: 22px;
                text-align: right;
                font-size: 13px;
            }

            .partition {
                width: 1px;
                height: 35px;
                margin: 0 10px;
                background-color: $secondary-color;
            }
        }
    }
}