.video {
    padding-bottom: 120px;

    .text {
        p {
            font-size: 18px;
            line-height: 28px;
            padding-top: 50px;
        }
    }

    .video {
        iframe {
            width: 100%;
        }
    }
}