.offer {
    padding: 60px 0;
    position: relative;

    .overlay {
        position: absolute;
        top: -340px;
        left: 0;
        z-index: -1;
        width: 100%;
        text-align: center;

        img {
            width: 65%;

            @media (max-width: 991.98px) {
                width: 100%;
            }
        }
    }
    
    .offer-item {
        position: relative;
        z-index: 9;
        padding: 30px;
        border-radius: 30px;
        background-color: $white;
        text-align: center;
        height: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        transition: all linear .3s;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
        }

        p {
            font-size: 20px;
            line-height: 30px;
            margin-top: 30px;
            color: $primary-color;
        }

        a {
            display: inline-block;
            height: 35px;
            line-height: 35px;
            padding: 0 40px;
            text-align: center;
            color: $primary-color;
            border: 1px solid $primary-color;
            border-radius: 18px;
            transition: all linear .3s;

            &:hover {
                background-color: $secondary-color;
                color: $white;
                border-color: $secondary-color;
            }
        }

        h4 {
            margin-bottom: 30px;
            color: $primary-color;
        }

        ul li {
            color: $primary-color;
            text-align: left;
            margin-bottom: 12px;
            padding-left: 35px;
            position: relative;

            i {
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background-color: #66EE00;
                color: #2244FF;
                text-align: center;
                line-height: 24px;
                position: absolute;
                top: 4px;
                left: 0;
                font-size: 10px;
            }
        }
    }
}